name: Go

on:
  push:
    branches: [ main ]
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ '**' ]

permissions:
  contents: read

jobs:

  build:
    name: Test and Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        gover: ['go.mod', 'oldstable', 'stable']

    env:
      # do not automatically upgrade go to a different version: https://go.dev/doc/toolchain
      GOTOOLCHAIN: "local"

    steps:
    - name: Check out code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: "Set up Go ${{ matrix.gover }}"
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: ${{ matrix.gover != 'go.mod' && matrix.gover || null }}
        go-version-file: ${{ matrix.gover == 'go.mod' && 'go.mod' || null }}
        check-latest: true
      id: go

    - name: Verify go fmt
      run: test -z "$(go fmt ./...)"

    - name: Verify go vet
      run: test -z "$(go vet ./...)"

    - name: Test
      run: make test

    - name: Linting
      if: matrix.gover == 'stable'
      run: make lint
